body {
  font-family: monospace;
  font-weight: bold;
  background-color: red;
  /* background-image: linear-gradient(to bottom right, blue, yellow);
  */
  background-size: cover;
}

img {
  outline-style: dashed;
}

h1 {
  text-align: center;
  color: white;
}

a {
  color: black;
}

li {
  color: white;
  list-style: none;
}

li::before {
  content: '\007E\002F';
}

.container {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
}

.recipepic {
  width: 30%;
  height: auto;
  opacity: 0.7;
}

.pic {
  position: relative;
  width: auto;
}

.pic h1 {
  position: absolute;
  bottom: 100px;
  left: 60px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}


.bla {
  position: relative;
  background-color: white;
  width: 200px;
  height: 100px;
  margin-left: 400px;
  margin-top: -50px
}
