body {
  font-family: monospace;
  font-weight: bold;
  background-color: red;
  /* background-image: linear-gradient(to bottom right, blue, yellow);
  */
  background-size: cover;
}

img {
  position: relative;
  outline-style: dashed;
  z-index: 2;
}

h1 {
  text-align: center;
  color: white;
}

a, a:visited {
  color: black;
}

a:hover {
  color: white;
  text-decoration: none;
}

#hiddenlink:hover {
  color: red;
}

li {
  color: white;
  list-style: none;
}

li::before {
  content: '\007E\002Frecipes\002F';
}

.ingr li::before {
  content: '.';
}



ol li::before {
  content: none;
}

.container {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
}

.recipepic {
  width: 30%;
  height: auto;
  opacity: 0.7;
}

.pic {
  position: relative;
  width: auto;
}

.pic h1 {
  position: absolute;
  bottom: 100px;
  left: 60px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
}

.white-box {
  position: relative;
  background-color: white;
  width: 200px;
  height: 100px;
  margin-left: 400px;
  margin-top: -50px;
  z-index: 1;
  padding-top: 5px;
  padding-left: 10px;
}

.bla:hover {
  z-index: 3;
}

.flex-cont {
  display: flex;
  margin-top: 50px;
}

.pos0 {
  flex: 1;
}

.pos0 p {
  text-align: left;
  padding: 30px 150px;
  margin-top: 50em;
}

.pos1 {
  flex: 1;
  margin-top: 15em;
}

.pos2 {
  flex: 1;
}

.pos2 p {
  text-align: right;
  padding: 30px 150px;
  margin-top: -10px;
}
